<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img  src="http://placehold.it/300x300">
        <h2>Placeholder Comic Title</h2>
        <p>Jan 1 1900</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://placehold.it/300x600">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed lobortis enim. Nulla a tincidunt justo. Nulla nunc justo, aliquet sed tortor sit amet, pellentesque laoreet lectus. Nunc commodo pharetra velit, quis sodales elit auctor non. Phasellus vestibulum egestas fringilla. Vestibulum dictum maximus tellus, ut lacinia orci. Duis tincidunt ut dui sed pulvinar. Integer consequat lectus sit amet purus auctor, at imperdiet quam iaculis. Maecenas mi elit, suscipit sit amet mauris vitae, tristique molestie orci. Duis consequat auctor ante a faucibus. Vestibulum laoreet vitae nisl feugiat porta. Phasellus auctor, quam in tempor blandit, nisl odio commodo metus, at scelerisque risus lorem ut libero.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
